@font-face {
    font-family: 'Fenix';
    src: url('../font/fenix.woff') format('woff');
    font-weight: normal;    font-style: normal;
}


/*
  ======== Variables ========
*/

$red:                    #eb5448;   // lorem
$blue:                   #2c90c6;   // lorem
$green:                  #5BC8A4;   // lorem
$orange:                 #F09D09;   // lorem
$yellow:                 #e3c800;   // lorem
$red:                    #eb5448;   // lorem
$gray:                   #666666;   // lorem

$paragraph-width:        50rem;     // how wide paragraphs should be 
$font-size:              1.25rem;   // lorem
$line-height:            1.6;       // lorem

$linkcolor:              $blue;     // lorem
$body-text-color:        #444;      // lorem
$heading-text-color:     #222;      // lorem
$blockquote-text-color:  $gray;     // lorem
$note-text-color:        $gray;     // lorem
$code-color:             $green;    // lorem


body {
 padding:       5vw;                // keep padding relative to viewport size
 font-family:  "Fenix",
                Georgia, 
                sans-serif;         // provide fallback fonts for browsers that don't support @font-face
 font-size:     1.25rem;            // make font size larger for better readability
 line-height:   1.6;                // increase line height for better readability
 color:         $body-text-color;   // make text color slightly lighter than pure black
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color:        $heading-text-color;    // make headers stand out from body text
	margin:       1em auto 0.25em auto;   // add relative margin to top and bottom of each heading
	max-width:    $paragraph-width;       // keep headings within width of paragraph
  font-weight:  normal;                 // ensure font is not bold
}

h1 {font-size:  4.0625rem;}
h2 {font-size:  3.25rem;}
h3 {font-size:  2.5625rem;}
h4 {font-size:  2rem;}
h5 {font-size:  1.5625rem;}
h6 {font-size:  1.25rem;}

p {
  max-width:        $paragraph-width;   // keep paragraphs at certain width for readability
  margin:           0 auto;             // equal margins on left and right
  text-align:       justify;            // justify text for readability
  -webkit-hyphens:  auto;
  -moz-hyphens:     auto;
  -ms-hyphens:      auto;
  -o-hyphens:       auto;
  hyphens:          auto;

  & + & {
   margin-top:      1.5em;              // add top margin to consecutive paragraphs
  }

  &[role="note"] {
    color:                  $note-text-color;
		font-size:              0.85rem;
		-moz-column-count:      2; 
		-moz-column-gap:        1em; 
		-webkit-column-count:   2; 
		-webkit-column-gap:     1em;

    		@media screen and (max-width:  48rem) {
			    -moz-column-count:     1;
    			-webkit-column-count:  1;
		     	max-width:             $paragraph-width * 0.75;
    			margin:                1em auto;
		    }

  }
}

article[role="article"] {

 header {
   text-align:      center; 
   margin-bottom:   3em;

    h1, h2, h3, h4, h5, h6 {
     margin:        0 auto; 
    }

  }

  & > p:first-of-type {
    font-size:         1.25em;
    margin-bottom:     1em;
    	&:first-letter { 
			   font-size:    2em;
			   line-height:  0;
			}
  }

}

a[role="link"] {
  text-decoration:        none;
  border:                 none;
	border-bottom:          0.0625rem dotted $linkcolor;
	color:                  $linkcolor;
	&:hover, &:focus {
		border-bottom-style:  solid;
	}
}

blockquote {
  max-width:              $paragraph-width * 0.85;
  margin:                 1em auto;
  color:                  $blockquote-text-color;
}

q {

  &::before {
    content:              "\201C";
  }

  &::after {
    content:              "\201D";
  }
}

code {
  color:  $code-color;
}









